/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* main */

html, body {
    height: 100%;
    margin: 0;
}

body {
    background: linear-gradient(90deg, #e3ffe7, #d9e7ff);
    color: rgb(2, 0, 36);
    font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.wrapper {
    margin-top: 70px;
    min-height: 100%;
}

.container {
    width: 1000px;
    padding: 30px;
    margin: 0 auto;
}

.primery-flex {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.col-1-5 {
    display: block;
    width: 20%;
}

/* typography*/

body [lang="hb"] {
    font-family: Assistant, Arial, sans-serif;
    text-align: right;
    direction: rtl;
}

h1 {
    font-size: 200%;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.5;
}

h2 {
    font-size: 20px;
}

p {
    font-size: 14px;
    line-height: 1.5;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: rgb(2, 0, 36);
}

a:hover {
    color: gray;
}

/* header */

header {
    background-color: white;
    width: 100%;
    padding: 5px 30px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
}

.primery-nav {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    padding-top: 20px;
}

nav li {
    display: inline-block;
    padding-right: 20px;
}

nav li:last-child {
    padding-right: 0;
}

.logo img {
    height: 60px;
}

/* footer */

footer {
    padding: 20px 30px;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    background-color: lightgray;
    border-top: 1px gray;
    height: 65px;
}

.footer-nav {
    font-size: 14px;
    text-transform: uppercase;
    color: whitesmoke;
}

footer small {
    color: whitesmoke;
}

/* members section */

.title {
    padding: 50px 30px 0 30px;
    text-align: center;
}

.table-align {
    padding: 0 15px;
}

.member table {
    width: 100%;
}

.member a {
    color: rgb(3, 0, 70);
}

.member table a {
    font-weight: 400;
}

.member a:hover {
    color: rgb(46, 46, 136);
    border-bottom-color: rgb(46, 46, 136);
}

.hover-img {
    border-radius: 5px;
    padding: 15px;
    transition: 0.3s;
}

.hover-img:hover {
    background-color: rgb(214, 235, 255);
}

.member img {
    display: block;
    border-radius: 5px;
    max-width: 100%;
    max-height: 155px;
    margin: 0 auto;
}

.member h2 {
    display: inline-block;
    margin-bottom: 20px;
}

.member tr td:first-child {
    padding-right: 15px;
}

.member td {
    font-size: 11px;
    border-bottom: 0.5px solid rgb(2, 0, 36);
    padding-top: 10px;
}

/* tool tip */

.tool-tip {
    position: relative;
    display: inline-block;
}

.tool-tip-text {
    visibility: hidden;
    width: 200%;
    background-color: darkgray;
    color: whitesmoke;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    position: absolute;
    z-index: 10;
    bottom: 125%;
    left: 100%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tool-tip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: darkgray transparent transparent transparent;
}

.tool-tip:hover .tool-tip-text {
    visibility: visible;
    opacity: 1;
}

/* tabs */

.pic {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    overflow: auto;
    max-height: 500px;
    justify-content: space-evenly;
}

.pic img {
    border-radius: 5px;
    width: 150px;
    height: 100%;
    margin: 20px;
}

.tab button {
    display: inline-block;
    font-size: 16px;
    padding: 15px;
    background-color: #e3ffe7;
    border: 0.5px solid darkgray;
    border-bottom: none;
    border-radius: 5px;
    margin: 0 15px 15px 0;
    cursor: pointer;
    transition: 0.3s;
}

.tab button:hover {
    background-color: rgb(214, 235, 255);
    color: rgb(46, 46, 136);
}

.tabcontent {
    padding: 15px;
    border: 0.5px solid darkgray;
    border-radius: 5px;
    background: linear-gradient(#e3ffe7, #d9e7ff);
    border-bottom: none;
    display: none;
}

.tabcontent:last-child {
    display: block;
}

.tabcontent h3 {
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    text-decoration: underline;
    padding-bottom: 10px;
}

.tabcontent p {
    text-indent: 15px;
}

/* FAQ */

.accordion {
    padding: 15px;
    width: 100%;
    font-size: 16px;
    font-weight: 100;
    border: 0.5px solid darkgray;
    border-bottom: none;
    border-radius: 5px;
    background: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

.accordion:hover {
    background-color: rgb(214, 235, 255);
    color: rgb(46, 46, 136);
}

.panel {
    padding: 15px;
    display: none;
    overflow: hidden;
}

.panel p {
    text-indent: 15px;
}

/* responsiv */

@media (min-width: 1400px) {
    .container {
        width: 1350px;
    }
    .member img {
        max-height: 300px;
    }
}

@media (max-width: 1000px) {
    .primery-flex {
        flex-flow: row wrap;
        justify-content: space-evenly;
    }
    .container {
        width: 100%;
    }
    .col-1-5 {
        width: 33.33%;
    }
    .member img {
        max-height: 250px;
    }
    .member {
        padding-bottom: 30px;
    }
    nav li {
        padding-right: 10px;
    }
    nav li:last-child {
        padding-right: 0;
    }
    .member td {
        font-size: 12px;
    }
    footer small, .footer-nav {
        font-size: 12px;
    }
}

@media (max-width: 650px) {
    .col-1-5 {
        width: 50%;
    }
    h1 {
        font-size: 100%;
    }
    .primery-nav {
        font-size: 14px;
    }
}

@media (max-width: 415px) {
    .primery-flex {
        flex-flow: column;
    }
    .primery-nav {
        font-size: 12px;
    }
    .member {
        margin: 0 auto;
    }
    .col-1-5 {
        width: 100%;
    }
    footer small, .footer-nav {
        font-size: 10px;
    }
    .member img {
        max-height: 300px;
    }
}